.hero {
    width: 96vw;
    height: 90vh;
    margin: 112px auto;
    background-image: url("../../src/assets/hero.image.avif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 15px;


}

.hero .heading {
    font-size: 146px;
    font-weight: 600;
    padding-top: 50px;

}

.hero .paragraph {
    max-width: 619px;
    margin: 20px auto;
    font-family: "Geist Mono", serif;
    font-size: 22px;
    font-weight: 400;
}

.btn-div {
    width: 262px;
    margin: 0 auto;
    border: 1px solid rgba(255, 250, 250, 0.4);
    padding: 3px;
    border-radius: 12px;
    transition: 1s ease-out;

}

.btn-div:hover {

    border: 1px solid rgba(255, 255, 255);


}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    background-color: white;
    border-radius: 9px;
    padding: 18px 15px;
    border: none;
    cursor: pointer;
}

.hero-btn svg {
    width: 20px;
}

.hero-btn span {
    font-family: "Geist Mono", serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.media {
    background-image: url("../../src/assets/watch-demo.avif");
    width: 90vw;
    height: 33.6vh;
    margin: 45px auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 1px;

}