header {
    background-color: black;
    width: 95%;
    margin: 24px;
    border-radius: 15px;
    padding: 7px 10px;
    border: 1px solid rgb(70, 70, 70, 0.4);
    box-shadow: 1px 1px 10px rgb(70, 70, 70, 0.4);
    position: fixed;
    top: 0;
    left: 8px;


}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.logo>img {
    width: 35px;
}

.logo>span {
    font-weight: bold;
    font-size: 1.2rem;

}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.links a {
    font-family: "Geist Mono", serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}

.links a:hover {
    color: white;
}


.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign-in,
.download {
    font-family: "Geist Mono", serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
    cursor: pointer;

}

.sign-in {
    padding: 15px 19px;
    background-color: black;
    border: 1px solid rgb(70, 70, 70, 0.4);
    color: white;
    font-weight: 500;
}

.download {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 18px;

}

.buttons svg {
    width: 15px;
}


.space {
    margin-bottom: 2em;
}